USE [master]
GO
/****** Object:  Database [biblioteca]    Script Date: 01/10/2021 02:40:31 p. m. ******/
CREATE DATABASE [biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'biblioteca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\biblioteca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'biblioteca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\biblioteca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [biblioteca]
GO
/****** Object:  Table [dbo].[libros]    Script Date: 01/10/2021 02:40:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libros](
	[id_libro] [int] NOT NULL,
	[id_autor] [int] NULL,
	[titulo] [varchar](50) NULL,
	[fecha_lanz] [varchar](50) NULL,
	[editorial] [varchar](50) NULL,
	[idioma] [varchar](50) NULL,
	[paginas] [varchar](50) NULL,
	[portada] [image] NULL,
 CONSTRAINT [PK_libros] PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[autores1]    Script Date: 01/10/2021 02:40:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autores1](
	[id_autor] [int] NOT NULL,
	[nomb_comp] [varchar](50) NULL,
	[nacionalidad] [varchar](50) NULL,
 CONSTRAINT [PK_autores1] PRIMARY KEY CLUSTERED 
(
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaGeneral]    Script Date: 01/10/2021 02:40:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaGeneral]
AS
SELECT dbo.libros.titulo AS Titulo, dbo.autores1.nomb_comp AS Autor, dbo.libros.fecha_lanz AS Lanzamiento, dbo.libros.editorial AS Editorial, dbo.libros.idioma AS Idioma, dbo.libros.paginas AS Paginas, dbo.libros.portada AS Portada
FROM     dbo.autores1 INNER JOIN
                  dbo.libros ON dbo.autores1.id_autor = dbo.libros.id_autor
GO
INSERT [dbo].[autores1] ([id_autor], [nomb_comp], [nacionalidad]) VALUES (1, N'Julio Verne', N'Frances')
INSERT [dbo].[autores1] ([id_autor], [nomb_comp], [nacionalidad]) VALUES (2, N'Charles Dickens', N'Britanico')
INSERT [dbo].[autores1] ([id_autor], [nomb_comp], [nacionalidad]) VALUES (3, N'Edgar Alan Poe', N'Estadounidence')
GO
INSERT [dbo].[libros] ([id_libro], [id_autor], [titulo], [fecha_lanz], [editorial], [idioma], [paginas], [portada]) VALUES (1, 1, N'La vuelta al mundo en 80 dias', N'1872', N'Pierre-Jules Hetzel', N'Español', N'257', NULL)
INSERT [dbo].[libros] ([id_libro], [id_autor], [titulo], [fecha_lanz], [editorial], [idioma], [paginas], [portada]) VALUES (2, 2, N'Cuento de Navidad', N'1843', N'Chapman Hall Ver y modificar los datos en Wikidata', N'Español', N'80', NULL)
INSERT [dbo].[libros] ([id_libro], [id_autor], [titulo], [fecha_lanz], [editorial], [idioma], [paginas], [portada]) VALUES (3, 3, N'Corazon Delator', N'1843', N'James Russell Lowell', N'Inglés', N'238', NULL)
GO
ALTER TABLE [dbo].[libros]  WITH CHECK ADD  CONSTRAINT [FK_autor] FOREIGN KEY([id_libro])
REFERENCES [dbo].[libros] ([id_libro])
GO
ALTER TABLE [dbo].[libros] CHECK CONSTRAINT [FK_autor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "autores1"
            Begin Extent = 
               Top = 20
               Left = 610
               Bottom = 161
               Right = 804
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "libros"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VistaGeneral'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VistaGeneral'
GO
USE [master]
GO
